.profile-wrapper {
  height: auto;
}

.introduction-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  // margin-left: 254px;
  width: 100%;
  margin-bottom: 120px;

  .avatar-image {
    width: 360px;
    height: 360px;
    border-radius: 50%;
  }

  .introduction-right {
    width: 600px;
    padding-left: 80px;

    .top-title {
      font-size: 36px;
      font-weight: bold;
      border-bottom: 2px solid;
      width: 240px;
      padding-bottom: 16px;
    }

    .introduction {
      margin-top: 32px;
      height: 81px;
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 32px;
    }

    .button-introduction {
      background-color: #1B5678;
      color: #ffff;
      width: 242px;
      height: 53px;
      display: inline-block;
      text-align: center;
      font-size: 18px;
      text-decoration: none;
      font-weight: lighter;
      padding-top: 13px;
      border-radius: 4px;
    }
  }
}

.skill-chart {
  text-align: center;
  margin-top: 120px;
  width: 400px;
  height: 151px;
  margin: 0 auto;
  margin-bottom: 100px;

  .chart-title {
    margin: 0 auto;
    font-size: 36px;
    font-weight: bold;
    border-bottom: 2px solid;
    width: 240px;
    padding-bottom: 16px;
    margin-bottom: 40px;
    width: 100%;
  }

  .button-skills {
    background-color: #1B5678;
    color: #ffff;
    width: 152px;
    height: 53px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    text-decoration: none;
    font-weight: lighter;
    padding-top: 13px;
    border-radius: 4px;
  }
}

.chart-wrapper {
  width: 1080px;
  height: 532.5px;
  margin-bottom: 121.5px !important;
  margin: 0 auto;
}

